.background    { background: rgb(64, 64, 64);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 100, 100); }
.wall          { background: white;   }

.actor  { position: absolute;  }
.coin   { background-image: url("images/coin.gif");
          background-size: 12px 12px; }
.player { background-image: url("images/dragon.gif");
          background-size: 16px 30px;}
.floater {background: rgb(54, 51, 44); }
.gem    { background-image: url("images/gem.gif");
          background-size: 12px 12px;}
.portal { background-image: url("images/portal.gif");
          background-size: 12px 12px;}

.game {
  overflow: hidden;
  max-width: 1600px;
  max-height: 800px;
  position: relative;
}

.lost .player {
  background-image: url("images/dragon.gif");
            background-size: 16px 30px;
  box-shadow: -4px -7px 8px black, 4px -7px 8px black;
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
